.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: helvetica;
}

html {
    background: rgb(25, 25, 25);
}

#content {
    left: 50vw;
    top: 0;
    transform: translate(-50%, 0);
    justify-items: center;
    height: 100vh;
    position: absolute;
    width: max-content;
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: auto 1fr auto 1fr auto;
}

/* HINTS */

#hints {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-top: 8px;
}

.hint {
    display: flex;
    flex-direction: row;
    border: 1px solid #bababa;
    border-radius: .5rem;
    overflow: hidden;
}

.hint> :not(.hint-nums) {
    border-left: 1px solid #bababa;
}

.hint-double-correct {
    background: rgba(67, 160, 71, 0.24);
}

.hint-correct {
    background: rgba(174, 160, 39, .24);
}

.hint>* {
    padding: 24px;
}

/* GUESS FIELD */

#guess-field {
    display: flex;
    flex-direction: row;
    gap: 4px;
}

#guess-field>* {
    display: inline-flex;
    width: 60px;
    height: 60px;
    font-size: 24px;
    border: 1px solid #bababa;
    justify-content: center;
    align-items: center;
}

/* NUMBER INPUT */

#input {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding-bottom: 8px;
}

#commands {
    display: grid;
    grid-auto-flow: column;
    gap: 4px;
    width: 100%;
}

#commands > * {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    border-radius: 2px;
}

#num-enter {
    border: 1.5px solid rgba(67, 160, 71, 0.24);
    background: rgba(67, 160, 71, 0.24);
}

#num-back {
    border: 1.5px solid rgba(160,67,67,.24);
    background: rgba(160, 67, 67, 0.24);
}

#numbers {
    display: flex;
    flex-direction: row;
    gap: 4px;
}

#numbers>* {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding: 8px;
    background: rgb(69, 69, 69);
    cursor: pointer;
    border-radius: 2px;
}