.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

@font-face {
    font-family: Inter;
    src: url('./static/Inter/Inter-VariableFont_slnt\,wght.ttf');
}

* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: Inter;
    transition: background-color .2s ease, border-color .2s ease;
}

html {
    background: rgb(25, 25, 25);
}

#content {
    left: 50vw;
    top: 0;
    transform: translate(-50%, 0);
    justify-items: center;
    height: 100vh;
    position: absolute;
    width: max-content;
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: 2fr auto 1fr auto 2fr auto;
}

.box {
    display: inline-flex;
    width: 52px;
    height: 52px;
    font-size: 24px;
    border: 1px solid #8c8c8c;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}

/* HINTS */

#hints {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding-top: 8px;
}

.hint {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    gap: 4px;
}

.hint > * {
    color: rgb(228, 228, 228);
}

.hint-double-correct, .hint-correct {
    color: rgb(199, 199, 199);
}

.hint-double-correct {
    background: rgba(67, 160, 71, 0.24);
}

.hint-correct {
    background: rgba(174, 160, 39, .24);
}

/* GUESS FIELD */

#guess-field {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.field {
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.field.active>* {
    border-color: #bababa;
}

/* NUMBER INPUT */

#input {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding-bottom: 8px;
}

#commands {
    display: grid;
    grid-auto-flow: column;
    gap: 4px;
    width: 100%;
}

#commands>* {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    border-radius: 2px;
}

#num-enter.close {
    border-color: rgba(69, 69, 69, .24);
    background: rgba(69, 69, 69, .24);
}

#num-enter {
    border: 1.5px solid rgba(67, 160, 71, 0.24);
    background: rgba(67, 160, 71, 0.24);
}

#num-back {
    border: 1.5px solid rgba(160, 67, 67, .24);
    background: rgba(160, 67, 67, 0.24);
}

#numbers {
    display: flex;
    flex-direction: row;
    gap: 4px;
}

#numbers>* {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding: 8px;
    background: rgb(69, 69, 69);
    cursor: pointer;
    border-radius: 2px;
}