* {
    font-family: monospace;
}

html {
    background: rgb(19, 19, 19);
}

.tboard {
    display: flex;
    flex-direction: column;
}

.trow {
    display: flex;
    flex-direction: row;
}

.trow > * {
    border: 1px solid white;
    width: 100px;
    height: 100px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color: white;
}

.trow > :first-child {
    border-left-color: transparent;
}

.tboard > :first-child > * {
    border-top-color: transparent;
}

.trow > :last-child {
    border-right-color: transparent;
}

.tboard > :last-child > * {
    border-bottom-color: transparent;
}

#mainBoard {
    position: absolute;
    left: 50%;
    top: 50%;
    display: flex;
    flex-direction: row;
    transform: translate(-50%, -50%);
    gap: 16px;
}

#score {
    display: flex;
    justify-content: center;
    align-items: last baseline;
    width: 40px;
    border-radius: 4px;
    background: rgb(67, 67, 67);
    padding-bottom: 4px;
    color: white;
}

#score-background {
    transition: all .2s ease;
    border-radius: 4px;
    width: inherit;
    bottom: 0px;
    height: 50%;
    background: rgba(206, 206, 206, 0.439);
    position: absolute;
}

a {
    text-decoration: none;
    color: white;
}