.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

canvas {
    padding: 0px;
    margin: 0px;
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50vw;
    top: 50vh;
    width: 100vw;
    height: 100vh;
}

#title {
    font-family: monospace;
}

#header {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr auto 1fr;
}

#header > * {
    z-index: 999;
    margin: 0px;
    color: white;
    padding: 8px;
    width: fit-content;
    height: fit-content;
    background: rgba(255,255,255,.1);
    border-radius: .5rem;
    backdrop-filter: blur(1rem);
    font-size: 13px;
}

#header > #header-left > * > span {
    font-size: 13px;
    transform: scale(1.5);
}

#header > #header-left > :has(span) {
    display: flex;
    align-items: center;
    cursor: pointer;
}

a {
    color: white;
    text-decoration: none;
}